Checks: '*,-fuchsia*,-*braces-around-statements,-hicpp-noexcept-move,-readability-named-parameter,-modernize-use-trailing-return-type,-bugprone-narrowing-conversions,-google-runtime-references,-cppcoreguidelines-pro-bounds-constant-array-index,-misc-non-private-member-variables-in-classes'
