[submodule "include/toolbelt"]
	path = include/toolbelt
	url = https://github.com/oschonrock/toolbelt
[submodule "cmake-scripts"]
	path = cmake-scripts
	url = https://github.com/oschonrock/cmake-scripts
